body {
  background-color: rgb(255, 229, 233);
}

.app-header {
  background-color: #5c77ad;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.users-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgb(255, 229, 233);
}

.users-body,
.profile-svg,
.email {
  padding: 20px;
}

.user-container,
.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 235, 241);
  padding: 10px;
}

.user-container {
  border: 6px solid rgb(255, 255, 255);
  border-radius: 10px;
}
.posts {
  align-items: flex-start;
  width: 20vw;
}

/* Media Queries */

@media (max-width: 480px) {
  .users-body {
    gap: 20px;
  }

  .posts {
    width: 60vw;
  }
}

@media (max-width: 768px) {
  .users-body {
    gap: 20px;
  }

  .posts {
    width: 60vw;
  }
}

@media (max-width: 1024px) {
  .users-body {
    gap: 20px;
  }

  .posts {
    width: 60vw;
  }
}
